<div *ngIf="customer" class="details-container">

  <div class="main-info">
      <div class="panel">
          <div class="panel-title">
            General information
          </div>
          <div class="panel-content">
            <div class="customer-name">{{ customer.name }}</div>
            <div class="main-info-fields">
      
              <app-field [title]="'Id'" [value]="customer.id"></app-field>
              <app-field [title]="'Site'" [value]="customer.site"></app-field>
              <app-field [title]="'Status'" [value]="formattedStatus" [valueClass]="statusClass"></app-field>
              <div *ngIf="customer.deleted == 1" class="red">DELETED</div>
              <app-field [title]="'Back office comments'" [value]="customer.backOfficeComments" *ngIf="customer.backOfficeComments"></app-field>
      
            </div>

            <button mat-raised-button [routerLink]="['/supervision/usage-logs/overview/', customer.id]" type="submit" color="primary" class="centered-button">
                <mat-icon class="menu-icon">assessment</mat-icon> Overview logs
            </button>
          </div>

        </div>

        <div class="panel">
            <div class="panel-title-3">License</div>
            <div class="panel-content">
                <div class="main-info-fields">
        
                  <div class="field-section-title">License plan</div>
                    <app-field [title]="'Name'" [value]="license?.plan.name" [titleWidth]="120"></app-field>
        <!--            <app-field [title]="'Site'" [value]="customer.site"></app-field>
                    <app-field [title]="'Status'" [value]="formattedStatus" [valueClass]="statusClass"></app-field>
                    <div *ngIf="customer.deleted == 1" class="red">DELETED</div>
                    <app-field [title]="'Back office comments'" [value]="customer.backOfficeComments" *ngIf="customer.backOfficeComments"></app-field>
        -->
        
                  <div class="field-section-title">License</div>
                    <app-field [title]="'Expiration'" [value]="formatDate(license?.expirationDate)" [titleWidth]="120"></app-field>
                    <app-field [title]="'Next reminder'" [value]="formatDate(license?.nextReminderDate)" [titleWidth]="120"></app-field>
                  </div>    
            </div>
          </div>        

  </div>

  
  <div class="panel users-panel">
    <app-customer-last-access></app-customer-last-access>
  </div>

  <div class="main-info">
    <app-customer-activity></app-customer-activity>
  </div>

</div>

