<mat-form-field>
    <input matInput placeholder="Mail" type="text" [(ngModel)]="mail">
</mat-form-field>
<button mat-raised-button (click)="findByMail()" type="submit" color="primary">
  <mat-icon aria-label="mail">mail</mat-icon> findByMail
</button>
<p>
    Result: {{ userByMail?.firstName }} {{ userByMail?.lastName }}
</p>

<mat-form-field>
    <input matInput placeholder="Id" type="text" [(ngModel)]="id">
</mat-form-field>
<button mat-raised-button (click)="findById()" type="submit" color="primary">
  <mat-icon aria-label="person">person</mat-icon> findById
</button>
<p>
    Result: {{ userById?.firstName }} {{ userById?.lastName }} (email: {{ userById?.primaryEmail.emailAddress }})
</p>