.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #F0F0F0;
}

.login-container {
    width: 300px;
    background: white;
    text-align: center;
    padding: 0 10px 20px;
}