<div class="login-page">
    <div class="login-container">
        <h1>Supervision</h1>

        <div class="error red">{{ error }}</div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Username" type="text" [(ngModel)]="loginData.username">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput placeholder="Password" type="text" [(ngModel)]="loginData.password">
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button (click)="login()" type="submit" color="primary">
                <mat-icon aria-label="login">input</mat-icon> Login
            </button>
        </div>
    </div>
</div>