<div class="dashboard-container">

<div class="panel">

  <div class="panel-title">Widget1</div>
  <div class="panel-content">

    Work in progress *

  </div>
</div>
<!--
<div class="panel">

  <div class="panel-title">Dashboard</div>
  <div class="panel-content">
  
      <div class="criterias-container">
          <mat-form-field>
              <input matInput placeholder="Search" type="text" [(ngModel)]="searchInput" (keyup.enter)="loadCustomersPage()">
          </mat-form-field>
          
          <button mat-raised-button (click)="loadCustomersPage()" type="submit" color="primary">
            <mat-icon>search</mat-icon> Search
          </button>        
      </div>
  </div>
</div>

<div class="panel">

  <div class="panel-title">Dashboard</div>
  <div class="panel-content">
  
      <div class="criterias-container">
          <mat-form-field>
              <input matInput placeholder="Search" type="text" [(ngModel)]="searchInput" (keyup.enter)="loadCustomersPage()">
          </mat-form-field>
          
          <button mat-raised-button (click)="loadCustomersPage()" type="submit" color="primary">
            <mat-icon>search</mat-icon> Search
          </button>        
      </div>
  </div>
</div>
    -->

</div>