<div class="app-container">
  
<mat-toolbar class="toolbar">

  <button mat-button (click)="toggleMenu()" class="menu-button" [class.menu-button-open]="menuOpened">
    <mat-icon aria-label="menu">menu</mat-icon>
  </button>

  <span>Welcome {{ currentUser?.firstName }}!</span>

  <span class="fill-empty-space"></span>
<!--
  <a [routerLink]="['/login']">
    Login
  </a>

  <mat-divider [vertical]="true" class="menu-divider"></mat-divider>
-->
  <a (click)="logout()" href="javascript:void(0)">
    Logout
  </a>  
</mat-toolbar>

<mat-sidenav-container class="main-container">

<mat-sidenav #sidenav mode="side" [(opened)]="menuOpened" class="sidenav"
      (closed)="menuClosed()">
    <app-side-menu class="sidenav-subcontainer"></app-side-menu>
</mat-sidenav>

<mat-sidenav-content class="sidenav-content">

  <router-outlet></router-outlet>

</mat-sidenav-content>

</mat-sidenav-container>

</div>