.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.toolbar {
    padding: 0 16px 0 0;
    z-index: 4;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    flex: 0 0 auto;
    background-color: #2975B6;
    color: white;
}

.menu-button {
    height: 100%;
}

.menu-button-open {
    /*background-color: #ccc;*/
}

a {
    padding: 0 8px;
    color: #eee;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.menu-divider {
    height: 60%;
    border-right-color: #888;
    margin-right: 5px;
    margin-left: 5px;
}

.main-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.sidenav {
    background-color: #fafafa;
    border-width: 0 1px 0 0;
    border-color: #888;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    /*box-shadow: 6px 0 6px rgba(0,0,0,.1);*/
}

.sidenav-subcontainer {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.sidenav-content {
    background-color: #F0F0F0;
    flex: 1 1 auto;
    padding: 8px;
}

.fill-empty-space {
    flex: 1 1 auto;
}